.pytest_cache/
__pycache__/
*.py[cod]
.cache/
.direnv/
.env
.venv/
.python-version
.ruff_cache/
.mypy_cache/
result
result-*
*.json
*.db
*.pt
*.sql
models
^src/bookmarks/models
.claude
.uv_cache
target/
*.so
data/
